$darkmode: #1D1D1D;

body {
  background-color: $darkmode;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding: 1rem;
  height: 10vh;

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
  }
}

.hero {
  width: 100vw;
  height: 90vh;

  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
    .hero-image {
      width: 35%;
    }
  }
}